MONGODB_URI=mongodb://localhost:27017/flowpolicy_db
JWT_SECRET=pon-un-secreto-de-minimo-32-caracteres
JWT_EXPIRATION=86400000
IA_SERVICE_URL=http://localhost:8001
FIREBASE_CREDENTIALS=
AZURE_STORAGE_CONNECTION_STRING=

